.weather-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.weather-title{
  font-size: 3em;
  color: #693250;
  margin: 2rem 0;
}

.weather-container input {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid #693250;
  background: rgba(249, 192, 237, 0.1);
  color: #693250;

}

::placeholder {
  color: #a04f7c;
}

.weather-container .search {
  text-align: center;
  padding: 1rem;
}

.weather-container {
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather-container .top {
  width: 100%;
  margin: 1rem auto;
  color: #693250;
}

.weather-container .description {
  position: relative;
  color: #693250;
  
}

.weather-container .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 6rem 10rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: #693250a9;
  color: #ffffff;
}

.weather-container .temp, .city {
  color: #693250;
  font-size: 1.5rem;
  margin: 1rem;
}