.home-text{
  color: #693250;
  font-size: 2em;
  padding: 2rem;
  display: flex;
  justify-content: center;
}
.home-small-text{
  color: #5a5a5a;
  font-size: 1em;
  padding: 2rem;
  display: flex;
  justify-content: center;
}
.home-bg{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 10rem;
}