.clock-bg{
  display: flex;
  padding: 15rem 0;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  
}
.clock-text{
  color: #875B73;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}