.clock-bg{
  display: flex;
  padding: 10rem 0;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: 30%;
  
}
.clock-text{
  color: #875B73;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

