@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.App{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
 
}
.top-app{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.wrapper-app{
  display: flex;
}

@media screen and (max-width: 768px) {
  .wrapper-app{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}