.nav-bg{
  background-color: #875B73;
  color: white;
  height: 100px;
  width: 100%;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 2rem;
  display: flex;
  align-items: center;
 
  justify-content: space-evenly;
}
li {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  
}

a{
  text-decoration: none;
  color: white;
  
}
a:hover{
 color : #d9d5d7;
  
}